{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}


<form action="/show_portfolio" method="POST">
  <div align="center">

    <label for="fname" style="padding-top: 50px">Enter the Amount to Invest:</label><br>
    <input type="text" id="amount" name="amount" placeholder="$">
    <br>
    <br>

    <div style=" transition: 0.3s;">
      <img src="../static/images/ethical.png" alt="Avatar" style="width:250px; height:250px">
      <div style="padding: 2px 16px" ;>
        <input type="checkbox" id="ethical_inv" name="ethical" value="1">
        <label for="ethical_inv"> Ethical Investing </label><br>
      </div>
    </div>
    <br>
    <div style="transition: 0.3s;">
      <img src="../static/images/growth.jpeg" alt="Avatar" style="width:250px; height:250px">
      <div style="padding: 2px 16px" ;>
        <input type="checkbox" id="growth_inv" name="growth" value="1">
        <label for="growth_inv"> Growth Investing </label><br>
      </div>
    </div>
    <br>
    <div style=" transition: 0.3s;">
      <img src="../static/images/index.jpeg" alt="Avatar" style="width:250px; height:250px">
      <div style="padding: 2px 16px" ;>
        <input type="checkbox" id="index_inv" name="index" value="1">
        <label for="index_inv"> Index Investing </label><br>
      </div>
    </div>
    <br>
    <div style=" transition: 0.3s;">
      <img src="../static/images/quality.jpeg" alt="Avatar" style="width:250px; height:250px">
      <div style="padding: 2px 16px" ;>
        <input type="checkbox" id="quality_inv" name="quality" value="1">
        <label for="quality_inv"> Quality Investing </label><br>
      </div>
    </div>
    <br>
    <div style=" transition: 0.3s;">
      <img src="../static/images/value.png" alt="Avatar" style="width:250px; height:250px">
      <div style="padding: 2px 16px" ;>
        <input type="checkbox" id="value_inv" name="value" value="1">
        <label for="value_inv"> Value Investing </label><br>
      </div>
    </div>
    <br>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>

  </div>
</form>
{% endblock %}